  <% provide :title, t(".title") %>
<% if logged_in? %>
  <div class="container">
    <div class="col-sm-8">
    <%= render "shared/feed" %>
    </div>
    <%= render "comments/edit_form" %>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1><%= t ".application" %></h1>
    <%= link_to t("layout.Signupnow"), signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
