<div class="our-webcoderskull">
  <li class="col-12 col-md-6 col-lg-2 ">
    <div class="cnt-box cnt-block equal-hight"  >
      <a href="<%= user_path(user) %>"><img src= <%= user.avatar.url %>
        class="img-responsive" ></a>
      <p><%= link_to user.name, user %></p>
    </div>
  </li>
</div>
