<div id= "books_table">
  <div class="panel panel-default" >
    <div class="panel-body">
      <div class="table-container">
        <table class="table table-filter">
          <tbody>
            <% if @books.empty? %>
            <%= t ".no_book_found" %>
            <% else %>
            <%= render @books %>
            <%= will_paginate %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
