<div id= "books_table">
  <div class="panel panel-default" >
    <div class="panel-body">
      <div class="table-container">
        <table class="table table-filter">
          <tbody>
            <%= render @books %>
            <%= will_paginate %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
