@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-light-light: #dddddd;
$gray-light-medium: #bbb;
$gray-medium-light: #eaeaea;
$gray-medium-dark: #999;
$gray-dark-medium: rgba(0,0,0,0.3);
$gray-dark-dark: #333;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */
.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
  }

/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* User form*/

ul{
  margin:20;
  padding:20;
  list-style:none;
}

.our-webcoderskull .cnt-block:hover {
    box-shadow: 0px 0px 10px $gray-dark-medium;
    border: 0;
}

.our-webcoderskull .cnt-block{
   float:left;
   width:100%;
   padding: 15px 10px;
   text-align:center;
   border:2px solid $gray-light-medium;
   margin: 0 0 28px;
}
.our-webcoderskull .cnt-block figure{
   width:120px;
   height:120px;
   border-radius:100%;
   display:inline-block;
   margin-bottom: 18px;
}
.our-webcoderskull .cnt-block img{
   width:140px;
   height:140px;
   border-radius:60%;
   margin-bottom: 5px;
}
.cnt-box{
   overflow: auto;
   height: 250px;
   margin-bottom: 15px;
}

//profile header
.profile_header{
    padding:5%;
}

.profile_header .img{
  text-align:center;
}
.profile_header img{
     width:250px;
   height:150px;
}

.profile_header .details{
    border-left:3px solid $gray-light-medium;
}
.profile_header .details p{
    font-size:15px;
    font-weight:bold;
}

//feed

.panel-shadow {
    box-shadow: $gray-dark-medium 7px 7px 7px;
}
.panel-white {
  border: 1px solid $gray-dark-medium;
}

.post .post-heading {
  height: 95px;
  padding: 15px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: $gray-light;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: $gray-medium-dark;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid $gray-light-light;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: $gray-dark-dark;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: $gray-medium-dark;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}
